body {
    background: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    
    direction: rtl;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
.body {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 100vh;
  position: relative;
}
main {
  background-color: white;
  width: 100%;
  height: calc(100vh - 60px);
  border-radius: 35px;
  padding: 10px;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  padding-left: 15px;
  padding-right: 15px;
  i {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .logo {
    font-size: 1.8rem;
  }
}
.dashboard {
  overflow-y: auto;
  height: 100%;
  .tabbar {
    width: 100%;
    background: #F7F8FD;
    border-radius: 26px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    padding: 5px;
    .item {
      text-align: center;
      flex: 1;
      padding: 10px;
      border-radius: 26px;
      font-family: IRANYekan-ExtraBold;
      font-size: 12.5px;
      color: #202042;
      letter-spacing: 0;
      text-align: center;
      &.active {
        background: #202042;
        color: white;
      }
    }
  }
  .reserve-item {
    background: #F4F4FA;
    border-radius: 24px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    overflow: hidden;
    position: relative;
    min-height: 80px;
    margin-bottom: 10px;
    .flag {
      background: #202042;
      border-radius: 0 0 20px 0;
      padding: 8px 10px;
      font-family: IRANYekan-ExtraBold;
      font-size: 14px;
      color: #FFFFFF;
      position: absolute;
      left: 0;
      top: 0;
    }
    .arrow {
      font-size: 10px;
      width: 55px;
      height: 55px;
      border-radius: 40px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: absolute;
      bottom: 5px;
      left: 5px;
      transform: rotate(-180deg);
      cursor: pointer;
      &.open {
        transform: rotate(0deg);
        left: 10px;
      }
    }
    .info-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: stretch;
      color: #212042;
      padding-top: 2px;
      padding-bottom: 2px;
      i {
        font-size: 15px;
        padding-left: 5px;
      }
      .text {
        font-family: IRANYekan-ExtraBold;
        font-size: 12px;
        color: #202042;
        text-align: right;
      }
    }
  }
}
.auth-box {
  background: black;
  width: 100%;
  height: 100%;
  border-radius: 31px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
  align-content: stretch;
  padding: 30px;
  .input-title {
    font-family: IRANYekan-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .logo {
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
  }
  input {
    width: 70%;
    background: rgba(255,255,255,0.11);
    border: 3px solid #FFFFFF;
    padding: 10px;
    text-align: center;
    font-family: IRANYekan-Bold;
    font-size: 12.5px;
    color: #FFFFFF;
    letter-spacing: 0;
    border-radius: 28.5px;
    margin-bottom:5px;
    outline: 0;
    &:focus {
      border-color: aqua;
    }
  }
  button {
    background: #FFFFFF;
    text-align: center;
    font-family: IRANYekan-ExtraBold;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
    border-radius: 19.5px;
    padding: 8px 30px;
    margin-top: 20px;
    outline: 0;
    border: 0;
  }
}
.loading {
  top:0;
  right:0;
  left: 0;
  bottom:0;
  z-index: 1111111;
  position: absolute;
  background: rgba(255,255,255,.8);
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: stretch;
  font-family: IRANYekan-Bold;
  font-size: 13px;
  color: #202042;
  letter-spacing: 0;
  text-align: center;
  div {
    padding-top: 40px;
  }
}
.alert-box {
  padding: 10px;
  text-align: center;
  position: absolute;
  z-index: 11111111;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  left: 10px;
  right: 10px;
  top: -100px;
  border-radius: 26px;
  font-family: IRANYekan-Bold;
  font-size: 10.5px;
  color: #FFFFFF;  
}
#red-alert-box {
  background: #FF4747;
  box-shadow: 0 8px 17px 0 rgba(255,71,71,0.57);
}
#green-alert-box {
  background: #3ED135;
  box-shadow: 0 8px 17px 0 rgba(62,209,53,0.57);
}
#orange-alert-box {
  background: #F5A623;
  box-shadow: 0 8px 17px 0 rgba(245,166,35,0.57); 
}
.alert-box-visible {
  top: 70px;
}


//
.action-box {
  width: 100%;
  margin-top: 10px;
  .action-title {
    font-family: IRANYekan-ExtraBold;
    font-size: 12px;
    padding-bottom: 10px;
    color: #202042;
    text-align: center;
  }
  select {
    width: 100%;
    background: #FFFFFF;
    border-radius: 100px;
    border: 0;
    outline: none;
    height: 35px;
    font-family: IRANYekan-ExtraBold;
    font-size: 13px;
    color: #202042;
    text-align: center;
  }
  .action-button {
    padding-top: 7px;
    margin-top: 12px;
    padding-bottom: 7px;
    border-radius: 19.5px; 
    font-family: IRANYekan;
    font-size: 13px;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
  }
  .green-button {
    width: calc(100% - 50px);
    background: #3ED135;
    font-weight: bold;
  }
  .red-button {
    font-size: 11px;
    width: 100%;
    background: #FF4747;
  }
}