@font-face {
  font-family: 'sooji';
  src: url('../font/sooji.eot?74135303');
  src: url('../font/sooji.eot?74135303#iefix') format('embedded-opentype'),
       url('../font/sooji.woff2?74135303') format('woff2'),
       url('../font/sooji.woff?74135303') format('woff'),
       url('../font/sooji.ttf?74135303') format('truetype'),
       url('../font/sooji.svg?74135303#sooji') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'sooji';
    src: url('../font/sooji.svg?74135303#sooji') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "sooji";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-carpark:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-danger:before { content: '\e803'; } /* '' */
.icon-dollar:before { content: '\e804'; } /* '' */
.icon-left:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-info:before { content: '\e807'; } /* '' */
.icon-miuns:before { content: '\e808'; } /* '' */
.icon-parking:before { content: '\e809'; } /* '' */
.icon-parkners:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-renew:before { content: '\e80c'; } /* '' */
.icon-quit:before { content: '\e80d'; } /* '' */
.icon-tick:before { content: '\e80e'; } /* '' */
.icon-times-circle:before { content: '\e80f'; } /* '' */
.icon-times:before { content: '\e810'; } /* '' */
.icon-top:before { content: '\e811'; } /* '' */