
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-carpark:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-danger:before { content: '\e803'; } /* '' */
.icon-dollar:before { content: '\e804'; } /* '' */
.icon-left:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-info:before { content: '\e807'; } /* '' */
.icon-miuns:before { content: '\e808'; } /* '' */
.icon-parking:before { content: '\e809'; } /* '' */
.icon-parkners:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-renew:before { content: '\e80c'; } /* '' */
.icon-quit:before { content: '\e80d'; } /* '' */
.icon-tick:before { content: '\e80e'; } /* '' */
.icon-times-circle:before { content: '\e80f'; } /* '' */
.icon-times:before { content: '\e810'; } /* '' */
.icon-top:before { content: '\e811'; } /* '' */